@charset "UTF-8";
/*=======================================
=            mixins included            =
=======================================*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*=============================================
=            bootstrap overrides           =
=============================================*/
.ixdlegos .alert-info {
  background-color: #d9edf7;
  border-color: #1193e5;
  vertical-align: middle;
}
.ixdlegos .alert-info span {
  font-size: 40px;
}
.ixdlegos .alert-info strong {
  line-height: 45px;
  vertical-align: middle;
}
.ixdlegos blockquote {
  background: transparent;
  border: none !important;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
  font-size: 16px;
  quotes: "“" "”" "‘" "’";
}
.ixdlegos blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.ixdlegos blockquote p {
  display: inline;
}

/*=============================================
=            core ixdleogs rules           =
=============================================*/
.ixdlegos {
  /* background: url(../../images/hexellence.png) repeat left top; */
  background: #888888;
  padding-top: 30px;
}
.ixdlegos .underConstruction {
  position: relative;
  padding: 10px;
  margin: 0 0 10px 0;
  text-align: center;
}
.ixdlegos .underConstruction:before {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  height: 100px;
  width: 100px;
  background-color: red;
}
.ixdlegos .underConstruction span {
  font-size: 20px;
}
.ixdlegos .underConstruction strong {
  font-weight: normal;
  line-height: 1px;
}
.ixdlegos .jumbotron {
  position: relative;
  background: #fff;
  text-align: center;
}
.ixdlegos .jumbotron blockquote {
  border-color: #ccc;
  border-width: 0 0 0 10px;
  color: #878686;
}
.ixdlegos .jumbotron h1,
.ixdlegos .jumbotron h2,
.ixdlegos .jumbotron h3,
.ixdlegos .jumbotron h4,
.ixdlegos .jumbotron h5,
.ixdlegos .jumbotron h6 {
  font-family: 'Open Sans', sans-serif;
}
.ixdlegos .jumbotron h1 {
  margin: 0;
  padding: 20px 0 10px 0;
  font-weight: 800;
  font-size: 50px;
  color: #282256;
  background: url(../../images/comingsoon1x.svg) no-repeat 70% -1px;
}
.ixdlegos .jumbotron h2 {
  color: #ccc;
  font-size: 20px;
  font-weight: light;
}
.ixdlegos .jumbotron h4 {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
}
.ixdlegos .jumbotron h5 {
  padding-bottom: 20px;
  border-bottom: solid 1px #ddd;
  width: 75%;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  color: #7E7E7E;
  line-height: 25px;
  font-weight: 200;
}
.ixdlegos .jumbotron .actionBar {
  padding: 10px 0 30px 0;
}
.ixdlegos .jumbotron p {
  font-size: 14px;
}
.ixdlegos .jumbotron p.social {
  margin-bottom: 0;
  font-size: 24px;
}
.ixdlegos .jumbotron p.social i {
  margin-right: 10px;
}
.ixdlegos .jumbotron p span {
  display: block;
}
.ixdlegos .jumbotron button {
  display: inline-block;
  text-align: center;
}
